body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #616161;
}

.bg-logo {
  background-image: url('../img/logo_transparente.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48px;
  width: 114px;
}

.logo-navbar {
  margin-left: 50px;
}

.app-navbar {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  margin: 0;
  height: 52px;
}

.clean-for-navbar {
  width: 100%;
  height: 35px;
}

.app-header-logo {
  width: 210px;
  display: block;
  margin: 116px auto 20px auto;
}

.app-logo-navbar {
  -webkit-transition: all 1.4s; 
  -moz-transition: all 1.4s;
  -o-transition: all 1.4s;  
  transition: all 1.4s;
  height: 52px;
  margin: auto;
  display: block;
  -webkit-transition: all .6s; 
  -moz-transition: all .6s;
  -o-transition: all .6s;  
  transition: all .6s;
}
.app-navbar-menu {
  display: block;
  float: right;
}
.app-navbar-menu li {
  vertical-align: top;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  //background-color: green;
  margin: auto;
}
.app-navbar-menu li a {
  font-family: "Gidolinya-Regular", arial, sans-serif;
  margin: auto;
  padding: 25px 12px;
  display: block;
  height: 75px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  font-size: 16px;
  word-wrap: break-word;
  margin-left: -4px;
  font-weight: bold;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #CFCFCF;
}
.app-navbar-menu li a:hover {
  background-image: url("../img/dark.png");
}

.app-navbar-menu li ul {
  z-index: 100001 !important;
  display: none;
  position: absolute;
  min-width: 240px;
  margin-left: -40px;
}

.app-navbar-menu li:hover > ul {
  display: block;
}

.app-navbar-menu li ul li {
  display: block;
  position: relative;
}

.app-navbar-menu li ul li a {
  padding: 0;
  height: 32px;
  font-size: 19px;
  padding: 6px 4px;
  background-image: url("../img/dark_transparent.png");
  color: #FFFFFF;
  border-left: none;
  border-right: none;
}

.app-navbar-menu li ul li a:hover {
  background-color: #000000;
}

.app-navbar-language {
  margin-right: 0;
}

.after-navbar {
  width: 100%;
  height: 52px;
}

.app-navbar-two {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-top: 0 !important;
  //background-color: #292929;
}

.app-header {
  background-image: url("../img/new_york.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 98%;
}

.header-animation-container {
  height: 64px;
  overflow: hidden;
  display: block;
  font-size: 20px;
}

.header-animation-a div {
  color: #fff;
  font-family: "Gidolinya-Regular", arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  text-align: center;
}

.animation-a-label {
  padding: 2px 4px;
}

@keyframes hideUp {
  from {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }

  to {
    -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    transform: translate3d(0px, 0px, -30px) rotateX(90deg);

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.hideUp {
  animation-duration: 200ms;
  animation-name: hideUp;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: #fff;
}

@keyframes showUp { 
   from {
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;

      -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
      height: 0;
      visibility: hidden;
      opacity: 0;
   }
   to {

      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;

      height: 100%;
      visibility: visible;
      opacity: 1;
   }
}

.showUp {
  animation-duration: 200ms;
  animation-name: showUp;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: #fff;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.app-carousel {
  z-index: 1 !important;
  display: block;
  margin-top: 25px !important;
}

.app-well {
  background-image: url('../img/dark-transparent-01.png');
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  font-family: "Gidolinya-Regular", arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 6px 0;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

}

.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F1F1F1;
  height: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar-default .navbar-nav > li > a:hover:before, 
.navbar-default .navbar-nav > li > a:focus:before, 
.navbar-default .navbar-nav > li > a:active:before {
  left: 0;
  right: 0;
}

.app-article-01-content .read-more {
  font-size: 24px;
}

.app-article-01-content .read-more,
.app-article-01-content .read-more:hover,
.app-article-01-content .read-more:focus,
.app-article-01-content .read-more:active,
.app-article-01-content .read-more:link {
  color: #333;
  text-decoration: none;
}

.app-article-03 .services {
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: inset 0 0 2px rgba(0,0,0,1);
}

.app-article-03 .services h3 {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-family: "Gidolinya-Regular", arial, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 28px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.app-article-03 .services:nth-child(4) {
  border: none;
}

.app-article-03 .services .hide-service {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.app-article-03 .services .hide-service p {
  text-align: center;
  margin: 0 0 1px;
}

.app-article-03 .block-services {
  background-image: url("../img/article_03_bg_01.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  border: 1px solid rgba(0,0,0,0.8);
  margin-bottom: 60px;
}

.app-article-03 .title-services {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 100%;
}

.app-article-03 .title-services .ur-icon {
  vertical-align: middle;
  display: block;
  margin: auto;
  width: 114px;
  height: 114px;
  background-image: url("../img/ur.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.app-article-03 .title-services .vertical-line {
  vertical-align: middle;
  width: 2px !important;
  height: 110px !important;
  background-color: #FFFFFF;
  display: none;
}

.app-article-03 .title-services h2 {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 38px;
  text-align: center;
}

.app-article-03 .services .icon-service {
  cursor: pointer;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -ms-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  width: 96px;
  height: 96px;
  background-size: contain;
  display: block;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 70px;
}

.app-article-03 .services .icon-service-1 {
  background-image: url("../img/icon_service_01.png");
}

.app-article-03 .services .icon-service-2 {
  background-image: url("../img/icon_service_02.png");
}

.app-article-03 .services .icon-service-3 {
  background-image: url("../img/icon_service_03.png");
}

.app-article-03 .services .icon-service-4 {
  background-image: url("../img/icon_service_04.png");
}

.app-article-03 .services:hover > .icon-service {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin-top: 22px;
}

.app-article-03 .services:hover > h3 { 
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.app-article-03 .services:hover > .hide-service {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  height: 100px;
  opacity: 1;
  overflow: visible;
}

.app-article-03 .service-1:hover > .icon-service {
  background-image: url("../img/icon_service_01_hover.png");
}

.app-article-03 .service-2:hover > .icon-service {
  background-image: url("../img/icon_service_02_hover.png");
}

.app-article-03 .service-3:hover > .icon-service {
  background-image: url("../img/icon_service_03_hover.png");
}

.app-article-03 .service-4:hover > .icon-service {
  background-image: url("../img/icon_service_04_hover.png");
}

.app-article-04 {
  overflow: hidden;
}

.app-article-04 h3 {
  color: #FFFFFF;
  font-family: "Gidolinya-Regular", arial, sans-serif;
  font-size: 34px;
  text-align: center;
  margin: 0 48px 0 0;
}

.app-article-04 .offer-container-final {
  margin-bottom: 20px;
}

.app-article-04 .offer-container .icon-offer {
  cursor: pointer;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -ms-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 260px;
  display: block;
  margin: auto;
  margin-top: 40px;
}

.app-article-04 .offer-container .icon-offer-1 {
  background-image: url("../img/icon_factibilidad.png");
}

.app-article-04 .offer-container .icon-offer-2 {
  background-image: url("../img/icon_oferta_exportable.png");
}

.app-article-04 .offer-container .icon-offer-3 {
  background-image: url("../img/icon_servicios_operacion.png");
}

.app-article-04 .offer-container .icon-offer-4 {
  background-image: url("../img/icon_servicios_desarrollo.png");
}

.app-article-04 .offer-container-1:hover > .icon-offer,
.app-article-04 .offer-container-1.active > .icon-offer {
  background-image: url("../img/icon_factibilidad_hover.png");
}

.app-article-04 .offer-container-2:hover > .icon-offer,
.app-article-04 .offer-container-2.active > .icon-offer {
  background-image: url("../img/icon_oferta_exportable_hover.png");
}

.app-article-04 .offer-container-3:hover > .icon-offer,
.app-article-04 .offer-container-3.active > .icon-offer {
  background-image: url("../img/icon_servicios_operacion_hover.png");
}

.app-article-04 .offer-container-4:hover > .icon-offer,
.app-article-04 .offer-container-4.active > .icon-offer {
  background-image: url("../img/icon_servicios_desarrollo_hover.png");
}

.app-article-04 .offer-container .offer-list-container {
  width: 282px;
  display: block;
  margin: auto;
}

.app-article-04 .offer-container .offer-list-container ul {
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 20px;
  list-style-image: url("../img/punto_azul.png");
}

.app-article-04 .offer-container .offer-list-container ul li {
  cursor: pointer;
  clear: both;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-top: 2px;
}

.offer-inline {
  display: block;
}

.app-article-04 .offer-list-container-2 ul {
  margin-top: 40px;
  margin-bottom: 50px;
  list-style-image: url("../img/punto_azul.png");
}

.app-article-04 .offer-list-container-2 ul li {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 10px;
}

.app-article-05 .title-clients {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 98%;
}

.app-article-05 .title-clients .ur-icon {
  vertical-align: middle;
  display: block;
  margin: auto;
  width: 86px;
  height: 86px;
  background-image: url("../img/ur.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.app-article-05 .title-clients .vertical-line {
  vertical-align: middle;
  width: 2px !important;
  height: 94px !important;
  background-color: #FFFFFF;
  display: none;
}

.app-article-05 .title-clients h2 {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 38px;
  display: block;
  text-align: center;
}

.app-article-05 .clients-container {
  width: 92%;
  display: block;
  margin: auto;
}

.app-article-05 .icon-client {
  cursor: pointer;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -ms-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 190px;
  height: 210px;
}

.app-article-05 .icon-aem {
  background-image: url("../img/aem.png");
}

.app-article-05 .icon-wtc {
  background-image: url("../img/wtc.png");
}

.app-article-05 .icon-cardom {
  background-image: url("../img/cardom.png");
  background-size: 80%;
}

.app-article-05 .icon-trocal {
  background-image: url("../img/trocal.png");
}

.app-article-05 .icon-fico {
  background-image: url("../img/fico.png");
}

.app-article-05 .icon-aem:hover {
  background-image: url("../img/aem_hover.png");
}

.app-article-05 .icon-wtc:hover {
  background-image: url("../img/wtc_hover.png");
}

.app-article-05 .icon-cardom:hover {
  background-image: url("../img/cardom_hover.png");
}

.app-article-05 .icon-trocal:hover {
  background-image: url("../img/trocal_hover.png");
}

.app-article-05 .icon-fico:hover {
  background-image: url("../img/fico_hover.png");
}

.app-article-06 {
  background-image: url("../img/bg_contacto.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-article-06 .title-contact {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 98%;
}

.app-article-06 .title-contact .ur-icon {
  vertical-align: middle;
  display: block;
  margin: auto;
  width: 86px;
  height: 86px;
  background-image: url("../img/ur.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.app-article-06 .title-contact .icon-space {
  vertical-align: middle;
  display: none;
  margin: auto;
  width: 86px;
  height: 86px;
}

.app-article-06 .title-contact .vertical-line {
  vertical-align: middle;
  width: 2px !important;
  height: 94px;
  background-color: #FFFFFF;
  display: none;
}

.app-article-06 .title-contact h2 {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 38px;
  display: block;
  text-align: center;
}

.app-article-06 .form-contact-container {
  //background-image: url("../img/bg_transparent_form_contact.png");
  background-image: url("../img/dark-transparent-04.png");
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.app-article-06 .form-contact-container .form-contact {
  padding-left: 0;
  padding-right: 0;
}

.app-article-06 .form-contact-container .form-contact input,
.app-article-06 .form-contact-container .form-contact textarea,
.app-article-06 .form-contact-container .form-contact button {
  padding-left: 0;
  padding-right: 0;
  font-family: "Helvetica-Neue-Light", arial, sans-serif;
  margin-top: 20px;
  background-color: inherit;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1.4px;
}

.app-article-06 .form-contact-container .form-contact input::placeholder,
.app-article-06 .form-contact-container .form-contact textarea::placeholder,
.app-article-06 .form-contact-container .form-contact button::placeholder {
  color: #FFFFFF;
}

.app-article-06 .form-contact-container .form-contact textarea {
  height: 120px;
  resize: vertical;
}

.app-article-06 .form-contact-container .form-contact button {
  font-family: "Gidolinya-Regular", arial, sans-serif;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  font-size: 24px;
  letter-spacing: 1.6px;
  padding-left: 20px;
  padding-right: 20px;
}

.app-article-06 .form-contact-container .form-contact button:hover {
  color: #333333;
}

.app-article-06 .form-contact-container .form-contact button::before {
  background-color: #FFFFFF;
}

.app-article-06 .form-contact-container .form-contact input:hover,
.app-article-06 .form-contact-container .form-contact textarea:hover,
.app-article-06 .form-contact-container .form-contact button:hover,
.app-article-06 .form-contact-container .form-contact input:focus,
.app-article-06 .form-contact-container .form-contact textarea:focus,
.app-article-06 .form-contact-container .form-contact button:focus,
.app-article-06 .form-contact-container .form-contact input:active,
.app-article-06 .form-contact-container .form-contact textarea:active,
.app-article-06 .form-contact-container .form-contact button:active {
  box-shadow: none;
}

.app-footer .social h3 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #FFFFFF;
}

.app-footer .social h3 sup {
  font-weight: normal;
}

.app-footer .social .mail a {
  float: right;
  font-family: "Gidolinya-Regular", arial, sans-serif;
  color: #FFFFFF;
  font-size: 28px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.app-footer .social .mail a:hover {
  color: #33E8FD;
  text-decoration: none;
}

.app-footer .social .redes .icon-red {
  margin-top: 6px;
  float: right;
  cursor: pointer;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -ms-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin-left: 12px;
}

.app-footer .social .redes .icon-fb {
  background-image: url("../img/icon_fb.png");
}

.app-footer .social .redes .icon-tw {
  background-image: url("../img/icon_tw.png");
}

.app-footer .social .redes .icon-fb:hover {
  background-image: url("../img/icon_fb_hover.png");
}

.app-footer .social .redes .icon-tw:hover {
  background-image: url("../img/icon_tw_hover.png");
}

.app-footer .links h3 {
  font-family: "Gidolinya-Regular", arial, sans-serif;
  font-size: 28px;
  color: #FFFFFF;
}

.app-footer .links a {
  display: block;
  font-family: "Gidolinya-Regular", arial, sans-serif;
  font-size: 20px;
  color: #BABAA5;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.app-footer .links a:hover {
  color: #33E8FD;
  text-decoration: none;
}

.icon-calculator {
  display: block;
  margin: auto;
  font-size: 64px;
  margin-bottom: 10px;
}

.btn-calc-platform,
.btn-calc-features,
.btn-calc-admin-features {
  cursor: pointer;
  min-height: 208px;
  max-height: 208px;
  overflow: hidden;
  padding: 19px;
  margin-bottom: 15px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.btn-calc-platform.mini {
  padding: 10px;
  min-height: 104px;
  max-height: 104px;
}

.btn-calc-platform.mini h3 {
  font-size: 11px;
  word-wrap: normal;
}

.btn-calc-platform.mini .icon-calculator {
  font-size: 22px;
}

.btn-calc-platform.active,
.btn-calc-features.active,
.btn-calc-admin-features.active {
  transition: all .2s;
  background-color: #039be5;
  color: #F1F1F1;
}

.btn-calc-features h3,
.btn-calc-admin-features h3 {
  font-size: 18px;
  line-height: 22px;
}

.btn-calc-next {
  display: inline-block;
  font-size: 18px;
  padding: 8px 22px;
  margin-top: 5px;
}

.btn-calc-next:hover {
  transition: all .2s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.landing-section {
  font-family: "Gidolinya-Regular", arial, sans-serif;
  color: #F1F1F1;
}

.landing-section {
  margin-top: 60px;
}

.landing-section-form input {
  background-color: rgba(255, 255, 255, 0.2);
  color: #F1F1F1;
  font-size: 18px;
}

.landing-section-form input:focus {
  box-shadow: none;
}


/* RESPONSIVE
   ========================================================================= */

@import "tablets", "desktop", "bigdesktop", "general";

/* ESPECIAL EFFECTS */

#quienesomos-content p:first-child {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -ms-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
}

#quienesomos-content p:nth-child(2) {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -ms-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}