.version.itinerario /* version checker */
{
	color: #0000F4;
	background-color: #3B34CE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 2312px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu1407
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u1407
{
	z-index: 2;
	min-height: 152px;
	background-color: #000000;
	padding-bottom: 32px;
}

#u1407_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u1408
{
	z-index: 3;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 174px;
}

#u1376-4
{
	z-index: 46;
	width: 87px;
	min-height: 6px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1208px;
}

#u1407-bw
{
	z-index: 2;
	min-height: 152px;
}

#u1372
{
	z-index: 5;
	min-height: 1826px;
	background-color: #000000;
}

#u1372_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
	padding-top: 33px;
	padding-bottom: 98px;
}

#u1379-4
{
	z-index: 42;
	width: 276px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	left: 602px;
	position: relative;
}

#u1416
{
	z-index: 54;
	width: 1187px;
	background-color: transparent;
	left: 146px;
	margin-top: 34px;
	position: relative;
}

#u1422
{
	z-index: 56;
	width: 1187px;
	background-color: transparent;
	left: 146px;
	margin-top: 20px;
	position: relative;
}

#u1372-bw
{
	z-index: 5;
	min-height: 1826px;
}

#u1405-4
{
	z-index: 50;
	width: 165px;
	min-height: 45px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #48474C;
	text-align: center;
	letter-spacing: 4px;
	font-size: 22px;
	line-height: 22px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 657px;
	margin-top: 53px;
	position: relative;
}

#u1405-4:hover
{
	background-color: #F8CB32;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 165px;
	margin: 53px 0px 0px 657px;
}

#u1405-4:hover p
{
	color: #212121;
	visibility: inherit;
	font-weight: bold;
}

#u1405-2
{
	padding-top: 11px;
}

#pu1375-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2168px;
	margin-left: 20px;
}

#u1375-4
{
	z-index: 34;
	width: 230px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1382-10
{
	z-index: 16;
	width: 230px;
	min-height: 74px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#pu1373-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2168px;
	margin-left: 288px;
}

#u1373-4
{
	z-index: 26;
	width: 230px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1378-10
{
	z-index: 6;
	width: 230px;
	min-height: 74px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#pu1374-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2167px;
	margin-left: 556px;
}

#u1374-4
{
	z-index: 30;
	width: 135px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu1377
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 15px;
}

#u1377
{
	z-index: 38;
	width: 50px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/twitter.png") no-repeat center center;
}

#u1404
{
	z-index: 39;
	width: 50px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 71px;
	background: #000000 url("../images/facebook.png") no-repeat center center;
}

#u1377:hover,#u1404:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1380
{
	z-index: 40;
	width: 199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2167px;
	left: 1031px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2166px;
}

