.version.registro_medios /* version checker */
{
	color: #000007;
	background-color: #71303A;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 972px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu1256
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u1256
{
	z-index: 2;
	min-height: 152px;
	background-color: #000000;
	padding-bottom: 32px;
}

#u1256_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u1257
{
	z-index: 3;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 174px;
}

#u1260-4
{
	z-index: 96;
	width: 87px;
	min-height: 6px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1208px;
}

#u1256-bw
{
	z-index: 2;
	min-height: 152px;
}

#pu1223
{
	width: 0.01px;
	margin-left: 1px;
}

#u1223
{
	z-index: 5;
	width: 1479px;
	background-color: #DCDCDC;
	padding-bottom: 402px;
	position: relative;
	margin-right: -10000px;
}

#u1254-4
{
	z-index: 92;
	width: 276px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 601px;
}

#widgetu1233
{
	z-index: 42;
	width: 0.01px;
	height: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 249px;
}

#widgetu1246
{
	z-index: 43;
	width: 685px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#widgetu1246.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 685px;
	height: 42px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1249-4
{
	z-index: 44;
	width: 661px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	color: #8594A3;
	text-align: left;
	line-height: 28px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

.html,#widgetu1246.non-empty-st #u1249-4
{
	background-color: #FFFFFF;
}

#widgetu1246:hover #u1249-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1246.focus-st #u1249-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1246.non-empty-st #u1249-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1246:hover #u1249-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1246.focus-st #u1249-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1237
{
	z-index: 48;
	width: 683px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 149px;
}

#widgetu1237.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 683px;
	height: 40px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
}

#u1239-4
{
	z-index: 49;
	width: 661px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	color: #8594A3;
	text-align: left;
	line-height: 28px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

#widgetu1237.non-empty-st #u1239-4
{
	background-color: #FFFFFF;
}

#widgetu1237:hover #u1239-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1237.focus-st #u1239-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1237.non-empty-st #u1239-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1237:hover #u1239-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1237.focus-st #u1239-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1234-4
{
	z-index: 53;
	width: 980px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
}

#widgetu1233.frm-sub-st #u1234-4 p
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1236-4
{
	z-index: 57;
	width: 980px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
}

#widgetu1233.frm-sub-st #u1234-4,#widgetu1233.frm-subm-err-st #u1236-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1233.frm-subm-err-st #u1236-4 p
{
	color: #D7244C;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1241-4
{
	z-index: 61;
	width: 980px;
	min-height: 53px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
}

#widgetu1233.frm-subm-ok-st #u1241-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 57px;
}

#widgetu1233.frm-subm-ok-st #u1241-4 p
{
	color: #1C9050;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#widgetu1250
{
	z-index: 65;
	width: 683px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 149px;
}

#widgetu1250.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 683px;
	height: 40px;
	min-height: 0px;
	margin: 90px -10000px 0px 0px;
}

#u1253-4
{
	z-index: 66;
	width: 661px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	color: #8594A3;
	text-align: left;
	line-height: 28px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

#widgetu1250.non-empty-st #u1253-4
{
	background-color: #FFFFFF;
}

#widgetu1250:hover #u1253-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1250.focus-st #u1253-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1250.non-empty-st #u1253-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1250:hover #u1253-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1250.focus-st #u1253-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1235-17
{
	z-index: 70;
	min-height: 57px;
	width: 683px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 149px;
	background: url("../images/u1235-17.png") no-repeat 0px 0px;
}

#u1235-17:hover
{
	background: url("../images/u1235-17-r.png") no-repeat 0px 0px;
}

#u1235-17:active
{
	background: url("../images/u1235-17-m.png") no-repeat 0px 0px;
}

#widgetu1233.frm-sub-st #u1235-17
{
	background: url("../images/u1235-17-fs.png") no-repeat 0px 0px;
}

#widgetu1242
{
	z-index: 87;
	width: 683px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 149px;
}

#widgetu1242.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 683px;
	height: 40px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u1245-4
{
	z-index: 88;
	width: 661px;
	min-height: 28px;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	color: #8594A3;
	text-align: left;
	line-height: 28px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 16px;
}

#u1249-4::before,#u1239-4::before,#u1253-4::before,#u1245-4::before
{
	box-shadow: none;
}

#widgetu1242.non-empty-st #u1245-4
{
	background-color: #FFFFFF;
}

#widgetu1242:hover #u1245-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1242.focus-st #u1245-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1246.fld-err-st #u1249-4,#widgetu1237.fld-err-st #u1239-4,#widgetu1250.fld-err-st #u1253-4,#widgetu1242.fld-err-st #u1245-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 661px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1242.non-empty-st #u1245-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1242:hover #u1245-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1242.focus-st #u1245-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1246.fld-err-st #u1249-4 *,#widgetu1237.fld-err-st #u1239-4 *,#widgetu1250.fld-err-st #u1253-4 *,#widgetu1242.fld-err-st #u1245-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1246_input,#widgetu1246_prompt,#widgetu1237_input,#widgetu1237_prompt,#widgetu1250_input,#widgetu1250_prompt,#widgetu1242_input,#widgetu1242_prompt
{
	width: 661px;
	min-height: 28px;
	color: #8594A3;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 16px;
}

#widgetu1246:hover #widgetu1246_input,#widgetu1246.focus-st #widgetu1246_input,#widgetu1246.fld-err-st #widgetu1246_input,#widgetu1246:hover #widgetu1246_prompt,#widgetu1246.focus-st #widgetu1246_prompt,#widgetu1246.fld-err-st #widgetu1246_prompt,#widgetu1237:hover #widgetu1237_input,#widgetu1237.focus-st #widgetu1237_input,#widgetu1237.fld-err-st #widgetu1237_input,#widgetu1237:hover #widgetu1237_prompt,#widgetu1237.focus-st #widgetu1237_prompt,#widgetu1237.fld-err-st #widgetu1237_prompt,#widgetu1250:hover #widgetu1250_input,#widgetu1250.focus-st #widgetu1250_input,#widgetu1250.fld-err-st #widgetu1250_input,#widgetu1250:hover #widgetu1250_prompt,#widgetu1250.focus-st #widgetu1250_prompt,#widgetu1250.fld-err-st #widgetu1250_prompt,#widgetu1242:hover #widgetu1242_input,#widgetu1242.focus-st #widgetu1242_input,#widgetu1242.fld-err-st #widgetu1242_input,#widgetu1242:hover #widgetu1242_prompt,#widgetu1242.focus-st #widgetu1242_prompt,#widgetu1242.fld-err-st #widgetu1242_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1246.non-empty-st #widgetu1246_prompt,#widgetu1237.non-empty-st #widgetu1237_prompt,#widgetu1250.non-empty-st #widgetu1250_prompt,#widgetu1242.non-empty-st #widgetu1242_prompt
{
	visibility: hidden;
}

#u1266-4
{
	z-index: 100;
	width: 165px;
	min-height: 45px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #48474C;
	text-align: center;
	letter-spacing: 4px;
	font-size: 22px;
	line-height: 22px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 657px;
	margin-top: 51px;
	position: relative;
}

#u1266-4:hover
{
	background-color: #F8CB32;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 165px;
	margin: 51px 0px 0px 657px;
}

#u1266-4:hover p
{
	color: #212121;
	visibility: inherit;
	font-weight: bold;
}

#u1266-2
{
	padding-top: 11px;
}

#pu1228-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 828px;
	margin-left: 20px;
}

#u1228-4
{
	z-index: 34;
	width: 230px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1225-10
{
	z-index: 16;
	width: 230px;
	min-height: 74px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#pu1226-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 828px;
	margin-left: 288px;
}

#u1226-4
{
	z-index: 26;
	width: 230px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1224-10
{
	z-index: 6;
	width: 230px;
	min-height: 74px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#pu1227-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 827px;
	margin-left: 556px;
}

#u1227-4
{
	z-index: 30;
	width: 135px;
	min-height: 41px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 38px;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu1229
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 15px;
}

#u1229
{
	z-index: 38;
	width: 50px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/twitter.png") no-repeat center center;
}

#u1230
{
	z-index: 39;
	width: 50px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 71px;
	background: #000000 url("../images/facebook.png") no-repeat center center;
}

#u1229:hover,#u1230:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 49px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1231
{
	z-index: 40;
	width: 199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 827px;
	left: 1031px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -826px;
}

