 /* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

.app-logo-container .app-logo {
  margin: 55px 0 25px 60px;
  width: 240px;
  height: 80px;
}

#header {
  min-height: 160px;
}

.app-nav {
  margin-top: 80px;
}

.app-nav ul li {
  padding-right: 50px;
}

.app-nav ul li a {
  font-size: 20px;
}

.app-navbar-fixed .app-logo-container .app-logo {
  margin: 12px 0 15px 90px;
  width: 120px;
  height: 40px;
}

.app-navbar-fixed .app-nav ul li a {
  font-size: 18px;
}

.app-jumbotron .app-slogan-container {
  margin-top: 300px;
}

.app-jumbotron .app-arrow-container {
  margin-top: 80px;
}

.app-clients-container {
  padding-bottom: 20px;
}

.app-clients-container .logo-client {
  margin-top: 30px;
}

.app-clients-container .logo-client-1 {
  margin-top: 27px;
  width: 197px;
  height: 28px;
}

.app-clients-container .logo-client-2 {
  margin-top: 30px;
  width: 226px;
  height: 23px;
}

.app-clients-container .logo-client-3 {
  margin-top: 20px;
  width: 170px;
  height: 42px;
}

.app-clients-container .logo-client-4 {
  margin-top: 21px;
  width: 274px;
  height: 40px;
}

.app-description-container {
  padding-top: 27px;
  padding-bottom: 35px;
}

.app-description-container .title {
  font-size: 26px;
}

.app-description-container .subtitle {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.app-description-container .divider {
  width: 44%;
}

.app-description-container .content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.app-description-container .btn-learn-more {
  font-size: 18px;
}

.app-services-container {
  padding-top: 40px;
  padding-bottom: 110px;
}

.app-services-container .title {
  font-size: 24px;
}

.app-services-container .articles {
  margin-top: 30px;
}

.app-services-container .img-service-1 {
  margin-top: 16px;
  width: 154px;
  height: 124px;
}

.app-services-container .img-service-2 {
  width: 159px;
  height: 164px;
}

.app-services-container .img-service-3 {
  margin-top: 14px;
  width: 138px;
  height: 135px;
}

.app-services-container .articles .title {
  font-size: 22px;
}

.app-services-container .articles .title-1 {
  margin-top: 34px;
}

.app-services-container .articles .title-2 {
  margin-top: 10px;
}

.app-services-container .articles .title-3 {
  margin-top: 25px;
}

.app-services-container .articles .content {
  margin-top: 22px;
  font-size: 18px;
}

.app-calculators-container { 
  padding: 15px 0 60px 0;
}

.app-calculators-container .title-container .title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.app-calculators-container .title-container .subtitle {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.app-calculators-container .title-container .divider { 
  width: 44%;
}

.app-calculators-container .title-container .content {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 45px;
}

.app-calculators-container .calculator-wrap .calculator {
  padding: 15px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item {
  cursor: pointer;
  min-height: 125px;
  max-height: 125px;
  overflow: hidden;
  margin-top: 20px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item h3 {
  font-size: 16px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item h3 .icon{
  display: block;
  margin: auto;
  font-size: 48px;
  margin-bottom: 15px;
}

.app-calculators-container .calculator-wrap .calculator .header .title {
  font-size: 26px;
  margin-top: 10;
}

.app-calculators-container .calculator-wrap .calculator .items-container .btn-choose {
  padding: 6px 32px;
  font-size: 18px;
  margin-top: 20px;
}

.app-packages-container {
  padding-bottom: 60px;
}

.app-packages-container .title-container {
  padding-top: 45px;
  padding-bottom: 45px;
  height: 620px;
}

.app-packages-container .packages-table {
  margin-top: -420px;
  padding-left: 120px;
  padding-right: 120px;
}

.app-packages-container .packages-table .package {
  min-height: 1240px;
}

.app-packages-container .packages-table .package .header .title {
  font-size: 28px;
  margin-bottom: 15px;
}

.app-packages-container .packages-table .package .header .description {
  font-size: 24px;
  margin-bottom: 15px;
}

.app-packages-container .packages-table .package .price-container {
  margin-top: 18px;
  margin-bottom: 18px;
}

.app-packages-container .packages-table .package .price {
  font-size: 58px;
}

.app-packages-container .packages-table .package .price sup {
  font-size: 22px;
  top: -0.8em;
}

.app-packages-container .packages-table .package a.btn-chose {
  font-size: 22px;
  padding: 12px 72px;
}

.app-packages-container .packages-table .package .features-list {
  margin-top: 40px;
}

.app-packages-container .packages-table .package .features-list li {
  font-size: 19px;
  margin-bottom: 20px;
}

.app-premium-services-container {
  padding-top: 60px;
  padding-bottom: 120px;
}

.app-premium-services-container .title {
  font-size: 28px;
}

.app-premium-services-container .premium-service {
  margin-top: 80px;
}

.app-premium-services-container .premium-service .img-premium-service-1 {
  width: 103px;
  height: 72px;
}

.app-premium-services-container .premium-service .img-premium-service-2 {
  width: 81px;
  height: 68px;
}

.app-premium-services-container .premium-service .img-premium-service-3 {
  width: 76px;
  height: 72px;
}

.app-premium-services-container .premium-service .img-premium-service-4 {
  width: 63px;
  height: 83px;
}

.app-premium-services-container .premium-service .title {
  font-size: 22px;
}

.app-premium-services-container .premium-service .title-1 {
  margin-top: 50px;
}

.app-premium-services-container .premium-service .title-2 {
  margin-top: 54px;
}

.app-premium-services-container .premium-service .title-3 {
  margin-top: 50px;
}

.app-premium-services-container .premium-service .title-4 {
  margin-top: 39px;
}

.app-contact-form-container {
  min-height: 610px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.app-contact-form-container .contact-form {
  margin-top: 30px;
}

.app-contact-form-container .contact-form form label {
  font-size: 16px;
}

.app-contact-form-container .contact-form form input,
.app-contact-form-container .contact-form form textarea,
.app-contact-form-container .contact-form form select {
  border-bottom: 4px solid #FFFFFF;
  font-size: 20px;
}

.app-contact-form-container .contact-form form .btn-send-contact {
  font-size: 22px;
}

.app-footer {
  padding: 30px 45px;
}

.app-footer .logo {
  width: 168px;
  height: 57px;
}

.app-footer .links-list h2 {
  font-size: 22px;
}

.app-footer .links-list h3 {
  font-size: 20px;
}

.app-footer .copyright h3 {
  font-size: 20px;
}

}