/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 992px) { 

.app-header {
  display: block;
  position: absolute;
  z-index: 9999999;
}

.app-logo-container .app-logo {
  display: block;
  margin: 20px 0 25px 30px;
  width: 240px;
  height: 65.6px;
}

.app-nav {
  margin-top: 40px;
}

.app-nav ul {
  text-align: right;
  list-style: none;
}

.app-nav ul li {
  display: inline-block;
  padding-right: 15px;
}

.app-nav ul li a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.app-jumbotron {
  width: 100%;
  overflow: hidden;
}

.app-jumbotron .app-slogan-container {
  position: absolute;
  margin-top: 200px;
  width: 100%;
  text-align: center;
  -webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -moz-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
}

.app-jumbotron .app-arrow-container {
  margin-top: 40px;
}

.app-clients-container {
  text-align: center;
  padding-bottom: 20px;
}

.app-clients-container .logo-client {
  margin-top: 24px;
}

.app-clients-container .logo-client-1 {
  margin-top: 22.32px;
  width: 162.85px;
  height: 23.14px;
}

.app-clients-container .logo-client-2 {
  margin-top: 24.8px;
  width: 185.32px;
  height: 18.86px;
}

.app-clients-container .logo-client-3 {
  margin-top: 16.53px;
  width: 139.4px;
  height: 34.44px;
}

.app-clients-container .logo-client-4 {
  margin-top: 17.36px;
  width: 224.68px;
  height: 32.8px;
}

.app-description-container {
  padding-top: 22.14px;
  padding-bottom: 28.7px;
}

.app-description-container .title {
  font-size: 21.32px;
  font-weight: bold;
}

.app-description-container .content {
  margin-top: 24.6px;
  font-size: 16.4px;
}

.app-services-container {
  padding-top: 32px;
  padding-bottom: 64px;
}

.app-services-container .title {
  font-size: 19.68px;
  font-weight: bold;
}

.app-services-container .articles {
  margin-top: 24.6px;
}

.app-services-container .img-service-1 {
  margin-top: 30.12px;
  width: 126.28px;
  height: 101.68px;
}

.app-services-container .img-service-2 {
  width: 130.38px;
  height: 134.48px;
}

.app-services-container .img-service-3 {
  margin-top: 25.48px;
  width: 113.16px;
  height: 110.7px;
}

.app-services-container .articles .title {
  font-size: 18.04px;
  font-weight: bold;
}

.app-services-container .articles .content {
  margin-top: 18.04px;
  font-size: 16px;
}

.app-calculators-container .title-container {
  background-color: #E21E79;
  padding: 15px;
}

.app-calculators-container .title-container .title {
  font-size: 22.96px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 14px;
}

.app-calculators-container .articles .description {
  font-size: 16px;
  font-weight: bold;
}

.app-calculators-container .articles .content {
  padding-top: 30.16px;
  padding-bottom: 30.16px;
}

.app-packages-container .title-container {
  padding-top: 30.16px;
  padding-bottom: 328px;
}

.app-packages-container .title-container .title {
  font-weight: bold;
}

.app-packages-container .packages-table {
  margin-top: -295.2px;
  padding-left: 48px;
  padding-right: 48px;
}

.app-packages-container .packages-table .package {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 16.4px 12.3px 24.6px 12.3px;
  min-height: 986px;
}

.app-packages-container .packages-table .package .title {
  font-size: 26.24px;
  font-weight: bold;
  margin-bottom: 12.3px;
}

.app-packages-container .packages-table .package .description {
  font-size: 14.76px;
  font-weight: bold;
  margin-bottom: 12.3px;
}

.app-packages-container .packages-table .package .price-container {
  margin-bottom: 16.4px;
}

.app-packages-container .packages-table .package .price {
  font-size: 45.92px;
  font-weight: bold;
}

.app-packages-container .packages-table .package .price sup {
  font-weight: normal;
  font-size: 20.24px;
  top: -0.656em;
}

.app-packages-container .packages-table .package a.btn-chose {
  display: inline-block;
}

.app-packages-container .packages-table .package a.btn-chose:hover {
  text-decoration: none;
}

.app-packages-container .packages-table .package .btn-chose {
  font-size: 18px;
  padding: 9.84px 59.04px;
  color: #3FB254;
  background-color: #FFFFFF;
  border: 1px solid #3FB254;
}

.app-packages-container .packages-table .package .features-list {
  padding-left: 12.3px;
  margin-top: 32.8px;
}

.app-packages-container .packages-table .package .features-list li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 24.6px;
}

.app-premium-services-container {
  padding-top: 48px;
  padding-bottom: 98.4px;
}

.app-premium-services-container .title {
  font-size: 22.96px;
}

.app-premium-services-container .premium-service {
  margin-top: 65.6px;
}

.app-premium-services-container .premium-service .img-premium-service-1 {
  width: 84.46px;
  height: 59.04px;
}

.app-premium-services-container .premium-service .img-premium-service-2 {
  width: 66.42px;
  height: 55.76px;
}

.app-premium-services-container .premium-service .img-premium-service-3 {
  width: 62.32px;
  height: 59.04px;
}

.app-premium-services-container .premium-service .img-premium-service-4 {
  width: 51.66px;
  height: 68.06px;
}

.app-premium-services-container .premium-service .title {
  font-weight: bold;
  font-size: 18px;
}

.app-premium-services-container .premium-service .title-1 {
  margin-top: 41px;
}

.app-premium-services-container .premium-service .title-2 {
  margin-top: 44.28px;
}

.app-premium-services-container .premium-service .title-3 {
  margin-top: 41px;
}

.app-premium-services-container .premium-service .title-4 {
  margin-top: 31.98px;
}

.app-contact-form-container {
  background-image: url("../img/v2/bg-transparent-black.png"), url("../img/v2/bg-contact-form.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 530px;
  padding-top: 49.2px;
  padding-bottom: 49.2px;
}

.app-contact-form-container .title {
  color: #FFFFFF;
}

.app-contact-form-container .contact-form {
  margin-top: 49.2px;
}

.app-contact-form-container .contact-form form label {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.app-contact-form-container .contact-form form input,
.app-contact-form-container .contact-form form textarea,
.app-contact-form-container .contact-form form select {
  background-color: inherit;
  color: #FFFFFF;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 3px solid #FFFFFF;
  font-size: 16.4px;
}

.app-contact-form-container .contact-form form .btn-send-contact {
  display: inline-block;
  background-color: #33CC00;
  border: 0;
  color: #FFFFFF;
  width: 100%;
  padding: 8px 12px;
  font-size: 18px;
}

.app-footer {
  padding: 24.6px 36.9px;
  background-color: #000000;
  color: #FFFFFF;
}

.app-footer .logo {
  margin-top: 37.72px;
  width: 137.76px;
  height: 46.74px;
}

.app-footer .links-list h2 {
  font-size: 18px;
}

.app-footer .links-list h3 {
  font-size: 16.4px;
}

.app-footer .copyright {
  margin-top: 41px;
}

.app-footer .copyright h3 {
  font-size: 16px;
}

}