/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 992px) { 

.app-logo-container .app-logo {
  margin: 35px 0 25px 60px;
  width: 196px;
  height: 65px;
}

.app-nav ul li {
  padding-right: 15px;
}

.app-nav ul li a {
  font-size: 16px;
}

}