/* Inicio [Estilos de uso general] */

video {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-black {
  background-color: #000000;
}

.fc-black {
  color: #000000;
}

.fc-white {
  color: #FFFFFF;
}

.fc-faded {
  color: #777777;
}

.no-padding {
  padding: 0;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.no-border {
  border: 0;
}

.app-well {
  background-color: #E4E4E4;
}

/* Fin [Estilos de uso general] */
