/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) {

.app-header {
  display: block;
  position: absolute;
  z-index: 9999999;
}

.app-logo-container .app-logo {
  display: block;
  margin: 22px auto 22px auto;
  width: 157.44px;
  height: 43.03px;
}

#nav {
  display: block !important;
}

.app-nav {
  margin-top: 32.8px;
}

.app-nav ul {
  text-align: right;
  list-style: none;
}

.app-nav ul li {
  display: inline-block;
  padding-right: 12px;
}

.app-nav ul li a {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.app-navbar-fixed .app-logo-container .app-logo {
  margin: 16px 0 15px 45px;
  width: 96px;
  height: 32px;
}

.app-navbar-fixed .app-nav {
  margin-top: 0;
  text-align: right;
}

.app-navbar-fixed .app-nav ul {
  width: auto;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 30px -5px 0;
}

.app-navbar-fixed .app-nav ul li {
  width: auto;
  display: block;
  float: left;
  padding-right: 0;
}

.app-navbar-fixed .app-nav ul li a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 8px 6px;
}

.app-navbar-fixed .app-nav ul li a {
  padding: 21px 15px;
  font-size: 14px;
}

.app-navbar-fixed .app-nav ul li a:hover {
  background-color: rgba(75,75,75,0.2);
}

.app-jumbotron {
  width: 100%;
  overflow: hidden;
}

.app-jumbotron .app-slogan-container {
  position: absolute;
  margin-top: 164px;
  width: 100%;
  text-align: center;
  -webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -moz-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  -o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
  transform: matrix(0.9986,-0.0523,0.0523,0.9986,-4,25);
}

.app-jumbotron .app-slogan-container .app-slogan {
  width: 92%;
  display: block;
  margin: auto;
}

.app-jumbotron .app-arrow-container {
  margin-top: 32.8px;
}

.app-jumbotron .app-arrow-container img {
  width: 32px;
}

.app-clients-container {
  padding-bottom: 14px;
}

.app-clients-container .logo-client {
  margin-top: 24px;
}

.app-clients-container .logo-client-1 {
  margin-top: 17.85px;
  width: 130.28px;
  height: 18.51px;
}

.app-clients-container .logo-client-2 {
  margin-top: 19.84px;
  width: 148.25px;
  height: 15.08px;
}

.app-clients-container .logo-client-3 {
  margin-top: 13.22px;
  width: 111.52px;
  height: 27.55px;
}

.app-clients-container .logo-client-4 {
  margin-top: 13.88px;
  width: 161.76px;
  height: 23.61px;
}

.app-description-container {
  padding-top: 17.71px;
  padding-bottom: 22.96px;
  background-color: #1B1F22;
  color: #F9F9F9;
}

.app-description-container .title {
  font-size: 18px;
  font-weight: bold;
}

.app-description-container .subtitle {
  color: #FFFF00;
  font-size: 16px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.app-description-container .divider {
  display: inline-block;
  height: 1px;
  background-color: #FFFF00;
  width: 36%;
}

.app-description-container .content {
  margin-top: 16px;
  margin-bottom: 12.8px;
  font-size: 14px;
}

.app-description-container .btn-learn-more {
  display: inline-block;
  background-color: #FFFF00;
  color: #1B1F22;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;
}

.app-services-container {
  padding-top: 25.6px;
  padding-bottom: 51.2px;
}

.app-services-container .title {
  font-size: 20px;
  font-weight: bold;
}

.app-services-container .articles {
  margin-top: 18px;
}

.app-services-container .img-service-1 {
  margin-top: 24.09px;
  width: 101.02px;
  height: 81.34px;
}

.app-services-container .img-service-2 {
  width: 104.30px;
  height: 107.58px;
}

.app-services-container .img-service-3 {
  margin-top: 20.38px;
  width: 90.52px;
  height: 88.56px;
}

.app-services-container .articles .title {
  font-size: 16px;
  font-weight: bold;
}

.app-services-container .articles .content {
  margin-top: 16px;
  font-size: 14px;
}

.app-calculators-container {
  background-color: #1B1F22;
  padding-bottom: 0;
}

.app-calculators-container .title-container .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 25.6px;
  margin-bottom: 12.8px;
}

.app-calculators-container .title-container .subtitle {
  font-size: 18px;
  margin: 10px 0 0 0;
  color: #FFFF00;
}

.app-calculators-container .title-container .divider {
  display: inline-block;
  height: 1px;
  background-color: #FFFF00;
  width: 52%;
}

.app-calculators-container .title-container .content {
  color: #FFFFFF;
  margin-top: 12.8px;
  margin-bottom: 28.8px;
}

.app-calculators-container .calculator-container {
  background-color: #FFFFFF;
  padding: 30px;
}

.app-calculators-container .calculator-wrap .calculator {
  padding: 15px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item {
  cursor: pointer;
  min-height: 116px;
  max-height: 116px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item.active {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: #039be5;
  color: #FFFFFF;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item h3 {
  font-size: 14px;
  line-height: 20px;
}

.app-calculators-container .calculator-wrap .calculator-1 .items-container .item h3 .icon{
  display: block;
  margin: auto;
  font-size: 32px;
  margin-bottom: 12px;
}

.app-calculators-container .calculator-wrap .calculator .header .title {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10;
}

.app-calculators-container .calculator-wrap .calculator .items-container .btn-choose {
  display: inline-block;
  padding: 6px 32px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.app-packages-container {
  background-color: #EDEDED;
  background-image: url("../img/v2/bg-packages.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
}

.app-packages-container .title-container {
  padding-top: 30.16px;
  padding-bottom: 328px;
}

.app-packages-container .title-container .title {
  font-weight: bold;
  color: #FFFFFF;
}

.app-packages-container .packages-table {
  margin-top: -282px;
  padding-left: 12px;
  padding-right: 12px;
}

.app-packages-container .packages-table .package {
  background-color: #FFFFFF;
  min-height: 896px;
}

.app-packages-container .packages-table .package.offer {
  margin-top: 0;
}

.app-packages-container .packages-table .package .header {
  background-color: #1B1F22;
  color: #FFFFFF;
  padding: 8.8px 16.8px 11.2px 16.8px;
}

.app-packages-container .packages-table .package .header .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9.84px;
}

.app-packages-container .packages-table .package .header .description {
  font-size: 14px;
  margin-bottom: 9.84px;
}

.app-packages-container .packages-table .package .header .offer-notice {
  position: absolute;
  left: 0;
  top: -35.2px;
  width: 100%;
  background-color: #FFFF00;
}

.app-packages-container .packages-table .package .header .offer-notice .title {
  color: #1B1F22;
  font-size: 18px;
  font-weight: bold;
}

.app-packages-container .packages-table .package .content {
  padding: 0 20px;
}

.app-packages-container .packages-table .package .price-container {
  margin-top: 13.12px;
  margin-bottom: 13.12px;
}

.app-packages-container .packages-table .package .price {
  font-size: 36px;
  font-weight: bold;
}

.app-packages-container .packages-table .package .price sup {
  font-weight: normal;
  font-size: 14px;
  top: -0.52em;
}

.app-packages-container .packages-table .package a.btn-chose {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  padding: 9.84px 59.04px;
}

.app-packages-container .packages-table .package a.btn-chose:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  background-color: inherit;
  color: #39B54A;
}

.app-packages-container .packages-table .package .features-list {
  padding-left: 0;
  margin-top: 26.24px;
}

.app-packages-container .packages-table .package .features-list li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 19.68px;
}

.app-premium-services-container {
  padding-top: 38.4px;
  padding-bottom: 78.72px;
}

.app-premium-services-container .title {
  font-size: 20px;
}

.app-premium-services-container .premium-service {
  margin-top: 52.48px;
}

.app-premium-services-container .premium-service .img-premium-service-1 {
  width: 67.56px;
  height: 47.23px;
}

.app-premium-services-container .premium-service .img-premium-service-2 {
  width: 53.13px;
  height: 44.60px;
}

.app-premium-services-container .premium-service .img-premium-service-3 {
  width: 49.85px;
  height: 47.23px;
}

.app-premium-services-container .premium-service .img-premium-service-4 {
  width: 41.32px;
  height: 54.44px;
}

.app-premium-services-container .premium-service .title {
  font-weight: bold;
  font-size: 16px;
}

.app-premium-services-container .premium-service .title-1 {
  margin-top: 32.8px;
}

.app-premium-services-container .premium-service .title-2 {
  margin-top: 35.42px;
}

.app-premium-services-container .premium-service .title-3 {
  margin-top: 32.8px;
}

.app-premium-services-container .premium-service .title-4 {
  margin-top: 25.58px;
}

.app-contact-form-container {
  background-image: url("../img/v2/bg-transparent-black.png"), url("../img/v2/bg-contact-form.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 424px;
  padding-top: 39.36px;
  padding-bottom: 39.36px;
}

.app-contact-form-container .title {
  color: #FFFFFF;
}

.app-contact-form-container .contact-form {
  margin-top: 39.36px;
}

.app-contact-form-container .contact-form form label {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.app-contact-form-container .contact-form form input,
.app-contact-form-container .contact-form form textarea,
.app-contact-form-container .contact-form form select {
  background-color: inherit;
  color: #FFFFFF;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 3px solid #FFFFFF;
  font-size: 16.4px;
}

.app-contact-form-container .contact-form form .btn-send-contact {
  display: inline-block;
  background-color: #33CC00;
  border: 0;
  color: #FFFFFF;
  padding: 4px 32px;
  font-size: 18px;
  margin-top: 0;
}

.app-footer {
  padding: 19.68px 29.52px;
  background-color: #000000;
  color: #FFFFFF;
}

.app-footer .logo {
  margin-top: 10px;
  width: 110.20px;
  height: 37.39px;
}

.app-footer a.link {
  color: #FFFF00;
  font-size: 16px;
}

.app-footer .links-list h2 {
  font-size: 16px;
}

.app-footer .links-list h3 {
  font-size: 14px;
}

.app-footer .copyright {
  text-align: left;
}

.app-footer .copyright h3 {
  font-size: 14px;
}

/* CALCULATOR APP
   ========================================================================= */

.app-calculator {
  padding-bottom: 75px;
}

.app-calculator .platforms-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.app-calculator .platforms-container .platform {
  min-height: 84px;
  max-height: 84px;
  margin-top: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.app-calculator .platforms-container .platform h3 {
  font-size: 11px;
  line-height: 16px;
  margin-top: 10px;
}

.app-calculator .platforms-container .platform h3 .icon {
  margin: auto;
  font-size: 22px;
  margin-bottom: 10px;
}

.app-calculator .section-name:first-child h2 {
  margin-top: 10px;
}

.app-calculator .section-name h2 {
  margin-top: 20px;
  font-size: 24px;
}

.app-calculator .items-container .item {
  min-height: 144px;
  max-height: 144px;
  margin-top: 10px;
}

.app-calculator .items-container .item.active {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: #039be5;
  color: #FFFFFF;
}

.app-calculator .items-container .item h3 {
  font-size: 13px;
  line-height: 18px;
  margin-top: 20px;
}

.app-calculator .items-container .item h3 .icon {
  display: block;
  font-size: 36px;
  margin: 5px auto 10px auto;
}

.app-calculator .shoppingCart .item .name {
  font-size: 12px;
}

.app-calculator .panel > .panel-heading > .title {
  margin: 2px auto;
  font-size: 16px;
}

}