/* ADMIN SITE
   ========================================================================= */
body {
  background-color: #F9F9F9;
}

label {
  color: #555;
}

.app-metro-btn {
  font-size: 16px;
  padding: 24px 12px;
}

.app-metro-icon {
  display: block;
  margin: 0 auto 8px auto;
  font-size: 72px;
  text-align: center;
}

.app-metro-btn-b {
  font-size: 16px;
  padding: 12px 6px;
}

.app-metro-icon-b {
  display: block;
  margin: 0 auto 8px auto;
  font-size: 48px;
  text-align: center;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.special-padding-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.panel-title {
  padding-top: 5px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 22px;
  color: #555;
}